@model MyBlog.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>
    @Html.ActionLink("Retour à la liste", "Index")
</p>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePublication)
        </dd>
    </dl>
</div>
